[user]
	name=atricap
	email=172540644+atricap@users.noreply.github.com
[alias]
	a    = add
	ann  = blame
	br   = branch
	b    = branch
	di   = diff
	df   = diff
	dt   = difftool
	dg   = difftool -g
	mt   = mergetool
	mg   = mergetool -g
	co   = checkout
	pick = cherry-pick
	pi   = cherry-pick
	cp   = cherry-pick
	ci   = commit
	cf   = config
	cfl  = config --local
	cfg  = config --global
	cfs  = config --system
	h    = help
	l    = log --oneline
	lg   = log --oneline --graph
	lga  = log --oneline --graph --all
	lf   = log --oneline --follow
	lp   = log --oneline --first-parent
	sh   = show
	st   = status -s
	s    = status -s
	f    = fetch
	m    = merge
	pl   = pull --ff-only
	plr  = pull --rebase
	ps   = push
	r    = rebase
	res  = reset
	cat  = cat-file
	type = cat-file -t
	ty   = cat-file -t
	dump = cat-file -p
	dp   = cat-file -p
	size = cat-file -s
	sz   = cat-file -s
	typedump = !git cat-file -t $* && git cat-file -p
	tydp     = !git cat-file -t $* && git cat-file -p
	td       = !git cat-file -t $* && git cat-file -p
	ts       = !git cat-file -t $* && git cat-file -s
[init]
	defaultBranch = main
[core]
	autocrlf = false
	eol = lf
	editor = 'C:\\Program Files\\Vim\\vim91\\vim.exe' -f -i NONE
[diff]
	tool = vimdiff
	guitool = gvimdiff
	algorithm = histogram
[difftool]
	prompt = false
[merge]
	tool = vimdiff
	guitool = gvimdiff
	conflictStyle = zdiff3
[mergetool]
	keepBackup = false
[difftool "kdiff3"]
	path = C:\\Users\\mx\\AppData\\Local\\KDiff3\\bin\\kdiff3.exe
[difftool "gvimdiff"]
	path = C:\\Program Files\\Vim\\vim91\\gvim.exe
[mergetool "gvimdiff"]
	path = C:\\Program Files\\Vim\\vim91\\gvim.exe
